<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <!--navigation-->
    <nav>
<img src="image/complate/sssssss.png" alt="logo">
<ul>
    <li><button class="button"><a href="register">Register</a></button></li>
   <li><button class="button"><a href="login">Log in</a></button></li>
 </ul>
</nav>
<!-- About -->
<section class="About">
    <h3>About</h3>
    <h1>KNITTING TECHNOLOGY, <br>Circular knitting process.</h1>
    <p>In the circular knitting process a number of yarns, coming from bobbins, sitting on a circle,
        are knitted simultaneously to the fabric. Similar to the weaving preparation, 
       the required number of bobbins has to be calculated and provided for the knitting system
   </p>
</body>
</html>