<html>
    <head>
<title>Login form</title>
<link rel="stylesheet" href="css/login.css">
</head>
 <body>
<dev class="loginbox">
    <h1>Log in</h1>
    <form action="/login" method="POST"><p>Email</p>
    <input type="email" name="email" placeholder="email">
    <p>Password</p>
    <input type="text" name="password" placeholder="Enter Password"><br>
    <li><button class="button" type="submit">Log in</button></li>
    <a href="register">foget password</a><br>
    <a href="register">Creat new Account</a>
    </form>
</dev>
        </body>
   
</html>