<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!-- navigation -->
    <nav>
<img src="image/complate/sssssss.png" alt="logo">

<ul>
    <li><a href="#">Product</li>
    <li><a href="#">Service</li>
    <li><a href='/'>Home</a></li>
 </ul>
</nav>
<!-- About -->
<section class="About">
    <h3>About</h3>
    <h1>KNITTING TECHNOLOGY, <br>Circular knitting process</h1>
    <p>In the circular knitting process a number of yarns, coming from bobbins, sitting on a circle,
         are knitted simultaneously to the fabric. Similar to the weaving preparation, 
        the required number of bobbins has to be calculated and provided for the knitting system
    </p>
</section>
    
    <section class="hero images">
        <div class="grid-iterms">

        </div>
    </section>
    <!-- our story -->
    <section class="story">
        
      <h2>Santoni</h2>
        <h1>World leader in the<br>production of <br>Seamless knitting<br> machines <br> </h1>
        <p>Created in 1919 Santoni is the very first Italian sock knitting<br> machine manufacturer.
             In 1989 it became part of the Lonati<br> Group, a Group that operates in sveral different sectors of<br> activity, i.e,
              textile engineering, electronics, iron and steel<br> manufacture, agriculture, financing, real estate, research and <br>
              multi-utility and Instruction. In the last 20 years Santoni has<br> developed a series of 
            circular electronic "Seamlesswear"<br> knitting machines becoming a worldwide leader in this<br> technology.</p>
</section>
    <!-- our number -->
    <section class="number">
        <h2>Yarn</h2>
        <p>Yarn is a long continuous length of interlocked fibres, used in sewing, 
            crocheting, knitting, weaving, embroidery, ropemaking, and the production 
            of textiles.<br>Thread is a type of yarn intended for sewing by hand or machine.
             Modern manufactured sewing threads may be finished with wax or other lubricants to 
             withstand the stresses involved in sewing.<br>Embroidery threads are yarns specifically 
             designed for needlework. Yarn can be made of a number of natural or synthetic materials,
              and comes in a variety of colors and thicknesses (referred to as "weights"). Although yarn may be dyed different colours, 
            most yarns are solid coloured with a uniform hue.</p>
    </section>
    <!-- our team -->
    <section class="aaa">
      <div class="sss" >
        <h3>Circular knitting</h3>
        <p>Circular knitting or knitting in the round is a form of knitting that creates a seamless tube. 
            Work in the round is begun by casting on stitches as for flat knitting but then joining the ends of
             that row of stitches to form a circle. Knitting is worked in rounds (the equivalent of the rows in flat knitting), 
            which forms the tube by winding around in a helix.</p></div>
            <img src="image/complate/Three.jpg" alt="aaaa">
        </section>
    <!-- our team images -->
    <section class="data-card">
        <h1>product</h1>
        <h2>Seamless | Automatic sewing systems Santoni | K-Fabric </h2>
        <p> Work in the round is begun by casting on stitches as for flat knitting but then joining the ends of
            that row of stitches to form a circle. Knitting</p>
            <div class="card-contanner">
                <div class="card">
                    <img src="image/complate/seamless2(1).jpg" alt="aaa">
                    <div class="con1">
                    <h2>Electronic seamlesswear knitting machines</h2>
                    <p>A comprehensive range of electronic single and double jersey circular 
                        knitting machines for the production of seamless sportswear, activewear, outwear, 
                        knitwear, swimwear, beachwear, underwear, lingerie, homewear, nightwear, medicalwear, and shapewear. </p></div>
                </div>
                <div class="card">
                    <img src="image/complate/ausiliarie.jpg" alt="aaa">
                    <div class="con1">
                    <h2>Automatic sewing systems Santoni</h2>
                    <p>Automatic systems for sewing and handling of stockings and tubular seamless products</p></div>
                </div>
                <div class="card">
                    <img src="image/complate/santoni kfabric.jpg" alt="aaa">
                    <div class="con1">
                    <h2>K-Fabric</h2>
                    <p> K-Fabric is a trial that allows to give life to a 
                        fabric of excellent quality, extremely soft and elastic.
                         With K-Fabric there are not ties of production anymore on wide staircase:
                          it is possible to work on limited productions, with total versatility 
                          and with a great efficiency
                         of the costs to the traditional trials</p></div>
                </div>
            </div>
    </section>
    <!-- footer -->
    <section class="footer">
<div class="foo">
    <img src="image/complate/sssssss.png" alt="logo">
    <p>Knitting</p></div>
<div class="foo">
    <h2>landings</h2>
    <p>Knitting01</p>
</div>
<div class="foo">
    <h2>company</h2>
    <p>Knitting02</p>
</div>
<div class="foo">
    <h2>resourcse</h2>
    <p>Knitting03</p>
</div>

    </section>
</body>
</html>