<html>
    <head>
<title>Register</title>
<link rel="stylesheet" href="css/register.css">
        <body>
<dev class="loginbox">
    <h1>. Register Form .</h1>
    <form action="/register" method="POST"><p>Name</p>
    <input type="text" name="name" placeholder="Enter your Name">
    <p>Email address</p>
    <input type="email" name="email" placeholder="Enter your email address"><br>
    <p>Country</p>
    <input type="Country" name="Country" placeholder="Enter your Country"><br>
    <p>phone</p>
    <input type="phone" name="phone" placeholder="Enter your phone number"><br>
    <p>password</p>
    <input type="text" name="password" placeholder="Enter your password"><br>
    <button class="submit" type="submit">CREATE ACCOUNT</button>
    </form>
</dev>
        </body>
    </head>
</html>